body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-repeat: no-repeat;
  font-family: Source Sans Pro;
  font-size: 18px;
}

.main-container{
    margin-top: 40px;
    flex-direction: column;
}

.main-text{
    max-width: 700px;
    text-align: center;
}

/* HEADER */

.main-header {
    position: sticky;
    width: 100hv;
    top: 0;
    z-index: 100;
    background: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}

.header-container {
    padding: 20px;
}

/* BODY */

main {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* FOOTER */

.footer-container {
    width: 100%;
    padding: 40px;
    color: #ffffff;
    font-family: Source Sans Pro;
}

/* Form */

.main-title {
    text-align: center;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* WORKS */
.projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.project {
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.project:hover {
    box-shadow: 0.4px 0.4px 0px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.project-content {
    flex: 2;
    padding-right: 20px;
}

.project-image {
    flex: 1;
    text-align: right;
}

.project img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}


/* INDEX */
body {
    margin: 0;
    padding: 0;
}

/* WEATHER */
.weather-block {
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    list-style: none;
    padding: 0;
    padding-right: 60px;
    font-family: Source Sans Pro;
}

.weather-item {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    position: relative;
    background-color: rgba(201, 200, 197, 0.2);
    padding-left: 40px;
    margin-left: 50px;
    border-radius: 12px;
}

.weather-item:hover {
    transform: scale(1.05);
    background-color: rgba(201, 200, 197, 0.2);
    border-radius: 12px;
}

.weather-item .weather-item-header {
    display: flex;
    align-items: center;
    flex: 1;
}

.weather-item .weather-item-header img {
    margin-right: 10px;
}

.weather-item .weather-item-details {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 200, 197, 0.4);
    border-radius: 12px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
}

.weather-item:hover .weather-item-details {
    right: 0;
    opacity: 1;
}

.weather-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.weather-text{
    text-align: center;
    color: #ffffff;
    width: 700px;
    padding-left: 150px;
}

.finance {
    width: 470px;
    height: 260px;
    padding-top: 40px;
}
/* WEATHER */

/* NEWS */
.news-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}

.news-title {
    display: flex;
    color: #ffffff;
}

.news-block {
    padding-left: 20px;
    display: block;
}

.news-item {
    flex: 0 0 calc(33.33% - 15px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    border-color: grey;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(201, 200, 197, 0.2);
}

.news-item a{
    text-decoration: none;
    color: #ffffff;
    font-family: Source Sans Pro;
    font-size: 18px;
}

.news-item h4:hover{
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    transform: scale(1.02);
}

.news-image {
    max-width: 130px;
    max-height: 90px;
    display: block;
    margin: 0 left;
    border-radius: 10px;
}

.news-item h4 {
    font-size: 16px;
    max-width: 240px;
}

.news-item p {
    font-family: Source Sans Pro;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-item h4,
.news-item p {
    text-align: left;
}


.news-carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.news-annotations{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.prev-button:hover,
.next-button:hover {
    color: #4CAF50;
}
/* NEWS */

/* TASKS */


/* TASKS */

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.news-image{
    width: 380px;
    height: 270px;
}
