.main-container{
    margin-top: 40px;
    flex-direction: column;
}

.main-text{
    max-width: 700px;
    text-align: center;
}

/* HEADER */

.main-header {
    position: sticky;
    top: 0;
    background-color: #212529;
}

.header-container {
    padding: 20px;
}

/* BODY */

.main-body-block {
    text-align: center;
}

/* FOOTER */

.footer-container {
    padding: 40px;
}

