.main-container{
    margin-top: 40px;
    flex-direction: column;
}

.main-text{
    max-width: 700px;
    text-align: center;
}

/* HEADER */

.main-header {
    position: sticky;
    top: 0;
    background-color: #212529;
}

.header-container {
    padding: 20px;
}

/* BODY */

.main-body-block {
    text-align: center;
}

/* FOOTER */

.footer-container {
    padding: 40px;
}

/* Form */

.main-title {
    text-align: center;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* WORKS */
.projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.project {
    display: flex;

    padding: 20px;
    margin-bottom: 20px;
}

.project-content {
    flex: 2;
    padding-right: 20px;
}

.project-image {
    flex: 1;
    text-align: right;
}

.project img {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}