{% extends 'base.html' %}

{% block title %}
TechTerra
{% endblock %}

{% block body %}

    <div class="weather">
        <ul class="weather-block" id="weather-list">
            {% for day in forecast %}
                <li class="weather-item">
                    <div class="weather-item-header">
                        <img src="{{ day['icon'] }}" alt="weather_icon">
                        <p>{{ day['date'] }} {{ day['day'] }}</p>
                    </div>
                    <div class="weather-item-details">
                        <p>Temp: {{ day['avg_temp'] }} C</p>
                        <p>Wind: {{ day['wind'] }} Kph</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="news-container">
        <div class="news-carousel">
            {% for new in news %}
                <div class="news-item">
                    <img class="news-image" src="{{ new['urlToImage'] }}" alt="news image">
                    <h4><a href="{{ new['url'] }}">{{ new['title'] }}</a></h4>
                    <p>{{ new['description'] }}</p>
                    <p>Author:{{ new['author'] }} | Published:{{ new['publishedAt'] }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
        <button class="prev-button"><i class="fas fa-chevron-left"></i> Prev</button>
        <button class="next-button">Next <i class="fas fa-chevron-right"></i></button>



    <div class="task-list">
        <h2>Список задач</h2>
        <div class="task">
            <p>Задача 1</p>
            <button class="update-task">Обновить</button>
            <button class="delete-task">Удалить</button>
        </div>
        <div class="task">
            <p>Задача 2</p>
            <button class="update-task">Обновить</button>
            <button class="delete-task">Удалить</button>
        </div>
    </div>

    <hr>

    <div class="feedback-form">
        <h2>Обратная связь</h2>
        <form method="post">
            <input type="text" name="name" placeholder="Ваше имя" class="form-control">
            <input type="email" name="email" placeholder="Ваш Email" class="form-control">
            <textarea name="message" placeholder="Ваше сообщение" class="form-control"></textarea>
            <button class="submit-button" type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}
