{% extends 'base.html' %}

{% block title %}
TechTerra
{% endblock %}

{% block body %}
     <div class="currency-weather">
        <div class="currency">
            <h2>Текущий курс валюты</h2>
            <p>36.95</p>
        </div>
        <div class="weather">
            <h2>Погода на неделю</h2>
            <ul class="weather-block">
                {% for day in forecast %}
                    <li class="weather-item">
                        <img src="{{ url_for('static', filename='img/weather/day/' ~ day['icon_id'] ~ '.png') }}" alt="weather_icon">
                        <p>{{ day['date'] }}</p>
                        <p>Temp: {{ day['avg_temp'] }}</p>
                        <p>Wind: {{ day['wind'] }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="news">
        <div class="news-item">
            <h3>Заголовок новости 1</h3>
            <p>Текст новости 1</p>
        </div>
        <div class="news-item">
            <h3>Заголовок новости 2</h3>
            <p>Текст новости 2</p>
        </div>
        <div class="news-item">
            <h3>Заголовок новости 3</h3>
            <p>Текст новости 3</p>
        </div>
    </div>

    <div class="task-list">
        <h2>Список задач</h2>
        <div class="task">
            <p>Задача 1</p>
            <button class="update-task">Обновить</button>
            <button class="delete-task">Удалить</button>
        </div>
        <div class="task">
            <p>Задача 2</p>
            <button class="update-task">Обновить</button>
            <button class="delete-task">Удалить</button>
        </div>
    </div>

    <div class="feedback-form">
        <h2>Обратная связь</h2>
        <form method="post">
            <input type="text" name="name" placeholder="Ваше имя" class="form-control">
            <input type="email" name="email" placeholder="Ваш Email" class="form-control">
            <textarea name="message" placeholder="Ваше сообщение" class="form-control"></textarea>
            <button class="submit-button" type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}
