{% extends 'base.html' %}

{% block title %}
TechTerra
{% endblock %}

{% block body %}

    <div class="weather">
        <div class="weather-container">
            <div class="weather-container-item finance">
                <script>
                    var months = {{ months | tojson | safe }};
                    var exchangeRate = {{ exchangeRate | tojson | safe }};
                </script>
                <canvas id="chart"></canvas>
            </div>
            <ul class="weather-block weather-container-item" id="weather-list">
                {% for day in forecast %}
                    <li class="weather-item">
                        <div class="weather-item-header">
                            <img src="{{ day['icon'] }}" alt="weather_icon">
                            <p>{{ day['date'] }} {{ day['day'] }}</p>
                        </div>
                        <div class="weather-item-details">
                            <p>Temp: {{ day['avg_temp'] }} C</p>
                            <p>Wind: {{ day['wind'] }} Kph</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="news-container">
        <div class="news-carousel">
            {% for new in news %}
                <div class="news-item">
                    <div class="news-title">
                        <img class="news-image" src="{{ new['urlToImage'] }}" alt="news image">
                        <div class="news-block">
                            <h4><a href="{{ new['url'] }}">{{ new['title'] }}</a></h4>
                        </div>

                    </div>
                    <p>{{ new['description'] }}</p>
                    <div class="news-annotations">
                        <p>{{ new['author'] }}</p>
                        <p>{{ new['publishedAt'] }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
        <button class="prev-button"><i class="fas fa-chevron-left"></i> Prev</button>
        <button class="next-button">Next <i class="fas fa-chevron-right"></i></button>

    <div class="feedback-form">
        <h2>Обратная связь</h2>
        <form method="post">
            <input type="text" name="name" placeholder="Ваше имя" class="form-control">
            <input type="email" name="email" placeholder="Ваш Email" class="form-control">
            <textarea name="message" placeholder="Ваше сообщение" class="form-control"></textarea>
            <button class="submit-button" type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}
